body, html {
    height: 100%;
  }
  body {
    background-color: #ECEFF1;
    color: #37474F;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
  }
  h1,
  h2,
  h3 {
    font-weight: 200;
  }
  .logoPartenaire{
    max-width: 140px!important;
  }
  .filiere{
    color: #263238!important;
  }
  .filiere:hover{
    color: #37474f!important;
  }
  .indicator{
    background-color: #263238!important;
  }
  .content h1, .content h2 {
    font: 400 37px "PT Sans Narrow", Arial, sans-serif!important;
    margin: 10px 0 10px;
    text-transform: uppercase;
    text-align: center;
  }

  .services-block {
    background: #f6f6f6;
    padding: 60px 0 70px;
  }

  .content p{
    font: 400 18px "PT Sans Narrow", Arial, sans-serif!important;
    margin: 10px 0 10px;
    text-align: center;
  }

  .content h4{
    font: 400 20px "PT Sans Narrow", Arial, sans-serif;
    margin: 10px 0 10px;
    text-align: center;
  }


  .contents h1, .contents h2 {
    font: 400 37px "PT Sans Narrow", Arial, sans-serif!important;
    margin: 0 0 40px;
    text-transform: uppercase;

  }
  .imgageacc{
    background-image: url("../images/background.jpg");
    height: 90vh;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bouton{
  padding-top: 72vh;
  }
  .prespic{
  width: 120%;
  height: 100%;
  }
  .president{
    display: block;
  }
  blockquote{
    border-color: #094270;
  }
  .promo i{
    margin: 20px 0;
    color: #3571aa;
    font-size: 7rem;
    display: block;
  }
  .separator{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  .entredeux hr{
  margin-top:50px;
  }
  .entredeux i{
    color: #3571aa;
    font-size: 7rem;
    display: block;
  }
  .question{
    height: auto;
    width: auto;
    text-align: center;
  }

  .parallax-container {
        height: auto;
        width: 100%!important;
  }
/*timeline*/
.timeline {
    position: relative;
    min-height: 811px;
    overflow-y: hidden;
}
.timeline-item:before {
    content: '';
    position: absolute;
    background-color: #FFF;
    width: 3px;
    height: 100%;
    left: 288px;
}
.timeline-item {
    margin: 0 74px;

}
.timeline-item-details {
    display: inline-block;
    margin-bottom: 64px;
}
.timeline-item:first-child .timeline-item-details {
    margin-top: 64px;
}
.timeline-item-details-date, .timeline-item-details-marker, .timeline-item-details-description {
    float: left;
}

.timeline-item-details-date {
    color: #333;
    font-size: 1.3em;
    margin-left: 50px;
}

.timeline-item-details-marker {
    position: relative;
    z-index: 10;
    border-radius: 50%;
    background-color: #3571aa;
    width: 32px;
    height: 32px;
    border: 3px solid #FFF;
    margin-left: 94px;
    transition: transform .3s, background-color .3s;
}
.timeline-item-details:hover .timeline-item-details-marker {
    transform: scale(1.4);
    background-color: #3571aa;
}

.timeline-item-details-description:before {
    content: '';
    position: absolute;
    background-color: #FFF;
    width: 74px;
    height: 3px;
    margin-left: -90px;
    margin-top: 18px;
}
.timeline-item-details-description {
    padding: 16px;
    color: #333;
    background-color: #cfd8dc ;
    width: 600px;
    border-radius: 4px;
    margin-left: 290px;
    margin-top: -82px;
    word-wrap: break-word;
    opacity: .9;
    transition: opacity .3s;
}
.timeline-item-details:hover .timeline-item-details-description {
    opacity: 1;
}

.timeline-item-details-description h2 {
    font-size: 2.5em;
    margin-bottom: 16px;
}

.timeline-item-details-description p {
    line-height: 23px;
}
.timeline-mobile{
  display: none;
}

  /*CSS POUR VERSION DESKTOP*/
  @media only screen  and (min-width : 1224px) {
    .imgageacc{
      background-image: url("../images/background.jpg");
      height: 80vh;
      width: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .parallax-container {
          height: 500px;
        }
    }

    @media screen and (max-width: 1300px) {
      .timeline{
        display: none;
      }
      .timeline-mobile{
        display: block;
      }
    }

    .logo{
        width: auto;
        height: 50px!important;
        margin: 5px;
      }

      .background {
        color:black;
      }
